<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BuzzHub"
        tools:targetApi="31">
        <activity
            android:name=".HostLogin"
            android:exported="false" />
        <activity
            android:name=".SettingsPage"
            android:exported="false" />
        <activity android:name=".Exhibitions" />
        <activity android:name=".GambleActivity" />
        <activity android:name=".SportingEventsActivity" />
        <activity android:name=".ConcertsPage" />
        <activity android:name=".ProfilePage" />
        <activity android:name=".Comedy" />
        <activity android:name=".FestivalsActivity" />
        <activity android:name=".addHostActivity" />
        <activity android:name=".HomePage" />
        <activity
            android:name=".LoginPage"
            android:exported="false"
            android:theme="@style/Theme.BuzzHub" />
        <activity
            android:name=".SignUpPage"
            android:exported="false"
            android:theme="@style/Theme.BuzzHub" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>